<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmée</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
</head>
<body>
    <h1>Inscription Confirmée</h1>

    <p>Votre inscription a été confirmée avec succès.</p>
    <p>Nom d'utilisateur : {{ userData.username }}</p>
    <p>Email : {{ userData.email }}</p>
    <p>Mot de passe (encodé) : {{ userData.password }}</p>


</body>
</html>